<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<h1>Редактирование статьи</h1>
<div th:each="el : ${article}" >
    <form  method="post">

        <input type="text" th:value="${el.title}" name="article" id="article" class="form-control"><br><br>

        <textarea type="text" th:text="${el.text}" id="text" name="text" class="form-control"></textarea>
            <br><br>
        <button type="submit" class="btn btn-success">Обновить</button>
    </form>
</div>
</body>
</html>